/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #B3EFB2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  margin-bottom: 20px;
}

.game-info {
  margin-left: 20px;
}

.status {
  font-size: 24px;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  width: 330px;
  height: 340px;
  border-radius: 30px;
  background: #B3EFB2;
  box-shadow: 15px 15px 30px #7A9E7E,
    -15px -15px 30px #B3EFB2;
}

.board-row {
  display: contents;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 2px solid #333;
  display: flex;
  color: #7A9E7E;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #ddd;
}

.square:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ol {
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 5px;
}